<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>天天生鲜-搜索</title>
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>
<body>
<div class="header_con">
		<div class="header">
			<div class="welcome fl">欢迎来到天天生鲜!</div>
			<div class="fr">
                {% if request.user.is_authenticated %}
                    <div class="login_btn fl">
                         欢迎您：<em>{{ request.user.username }}</em>
                        <span>|</span>
                        <a href="/user/logout_user">退出</a>
                    </div>
                {% else %}
				<div class="login_btn fl">
					<a href="/user/login">登录</a>
					<span>|</span>
					<a href="/user/register">注册</a>
				</div>
                {% endif %}
				<div class="user_link fl">
					<span>|</span>
					<a href="/user/info">用户中心</a>
					<span>|</span>
					<a href="/cart/">我的购物车</a>
					<span>|</span>
					<a href="/user/order">我的订单</a>
				</div>
			</div>
		</div>
	</div>

	<div class="search_bar clearfix">
		<a href="index" class="logo fl"><img src="/static/images/logo.png"></a>
		<div class="search_con fl"><form action="/search/" method="get">
			<input type="text" class="input_text fl" name="q" placeholder="搜索商品">
			<input type="submit" class="input_btn fr" value="搜索"></form>
		</div>
		<div class="guest_cart fr">
			<a href="/cart/" class="cart_name fl">我的购物车</a>
			<div class="goods_count fl">{{ total_count|default:0 }}</div>
		</div>
	</div>

	<div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>
				<span></span>
				<ul class="subnav">
                    {% for category in category_list %}
					    <li><a href="/list{{ category.id }}" class="{{ category.logo }}">{{ category.name }}</a></li>
				    {% endfor %}
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="breadcrumb">
        &nbsp;搜索<span style="font-size: 20px;color:red">{{ query }}</span>结果如下：
	</div>

	<div class="main_wrap clearfix">

			<ul class="goods_type_list clearfix">
                {% for obj in page_obj %}
				<li>
					<a href="/{{ obj.object.id }}"><img src="{{ obj.object.default_image.url }}"></a>
					<h4><a href="/{{ obj.object.id }}">{{ obj.object.name }}</a></h4>
					<div class="operate">
						<span class="prize">￥{{ obj.object.price }}</span>
						<span class="unit">{{ obj.object.price }}/{{ obj.object.unit }}</span>
						<a href="#" class="add_goods" title="加入购物车"></a>
					</div>
				</li>
                {% endfor %}
			</ul>

			<div class="pagenation">
                {% if page_obj.has_previous %}
                    <a href="?page=1 &q={{ query}}">首页</a>
                    <a href="?page={{ page_obj.number|add:-1 }}&q={{ query }}">上一页</a>
                {% else %}
                    <span>首页</span>
                    <span>上一页</span>
                {% endif %}
                {% for p in page_list %}
                    {% if p == page.number %}
                        <span class="active">{{ p }}</span>
                    {% else %}
                        <a href="?page={{ p }}&q={{ query }}" >{{ p }}</a>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.number|add:1 }}&q={{ query }}">下一页</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}&q={{ query }}">末页</a>
                {% else %}
                    <span>下一页</span>
                    <span>末页</span>
                {% endif %}
			</div>
		</div>


	<div class="footer">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>
		</div>
		<p>CopyRight © 2016 北京天天生鲜信息技术有限公司 All Rights Reserved</p>
		<p>电话：010-****888    京ICP备*******8号</p>
	</div>

</body>
</html>