<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>天天生鲜-用户中心</title>
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
     <script>
    $(function () {
        $.get('/user/area',function (data) {
            var list=data.list;//[{},{},...]
            var province=$('#province');
            $.each(list,function (i,n) {//i表示元素的索引，n表示元素对象
                //{id:**,title:***}
                province.append('<option value="'+n.id+'">'+n.title+'</option>');
            });
        });

        //当省选择项改变时，加载对应的市
        $('#province').change(function () {
            $.get('/user/area',{'pid':$(this).val()},function (data) {
                var list=data.list;
                var city=$('#city').empty().append('<option value="0">请选择</option>');
                $('#district').empty().append('<option value="0">请选择</option>');
                $.each(list,function (i,n) {
                    city.append('<option value="'+n.id+'">'+n.title+'</option>');
                });
            })
        });

        //当市选择项改变时，加载对应的区县
        $('#city').change(function () {
            $.get('/user/area',{'pid':$(this).val()},function (data) {
                var list=data.list;
                var district=$('#district').empty().append('<option value="0">请选择</option>');
                $.each(list,function (i,n) {
                    district.append('<option value="'+n.id+'">'+n.title+'</option>');
                });
            })
        });
    });
    </script>
</head>
<body>
	<div class="header_con">
		<div class="header">
			<div class="welcome fl">欢迎来到天天生鲜!</div>
			<div class="fr">
				{% if request.user.is_authenticated %}
				    <div class="login_btn fl">
					    欢迎您：<em>{{ request.user.username }}</em>
                        <span>|</span>
					    <a href="/user/logout_user">退出</a>
                    </div>
                {% else %}
                    <div class="login_btn fl">
                        <a href="login">登录</a>
                        <span>|</span>
                        <a href="register">注册</a>
                    </div>
                {% endif %}
				<div class="user_link fl">
					<span>|</span>
					<a href="/user/info">用户中心</a>
					<span>|</span>
					<a href="/user/site">我的购物车</a>
					<span>|</span>
					<a href="/user/order">我的订单</a>
				</div>
			</div>
		</div>		
	</div>

	<div class="search_bar clearfix">
		<a href="index.html" class="logo fl"><img src="/static/images/logo.png"></a>
		<div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;用户中心</div>
		<div class="search_con fr">
			<input type="text" class="input_text fl" name="" placeholder="搜索商品">
			<input type="button" class="input_btn fr" name="" value="搜索">
		</div>		
	</div>

	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
				<li><a href="/user/info">· 个人信息</a></li>
				<li><a href="/user/order">· 全部订单</a></li>
				<li><a href="/user/site" class="active">· 收货地址</a></li>
			</ul>
		</div>
		<div class="right_content clearfix">
				<h3 class="common_title2">收货地址</h3>
				<div class="site_con">
					<dl>
						{% for addr in addr_list %}
						    <dd>
                            {% if addr.isDefault %}
                                [默认]
                            {% endif %}
                                {{ addr.province.title }} {{ addr.city.title }} {{ addr.district.title }} {{ addr.addr }}（{{ addr.receiver }} 收） {{ addr.phone_number }}</dd>
					    {% empty %}
                            <dd>{{ '您还未添加任何收huo地址' }}</dd>
                        {% endfor %}
                    </dl>
				</div>
				<h3 class="common_title2">编辑地址</h3>
				<div class="site_con">
					<form method="post">
                        {% csrf_token %}
						<div class="form_group">
							<label>收件人：</label>
							<input type="text" name="receiver">
						</div>
						<div class="form_group form_group2">
							<label>详细地址：</label>
                            <select name="province" id="province">
                                <option value="0">请选择</option>
                            </select>
                            <select name="city" id="city">
                                <option value="0">请选择</option>
                            </select>
                            <select name="district" id="district">
                                <option value="0">请选择</option>
                            </select>
                        <input type="text" name="addr">
						</div>
						<div class="form_group">
							<label>邮编：</label>
							<input type="text" name="code">
						</div>
						<div class="form_group">
							<label>手机：</label>
							<input type="text" name="phone">
						</div>
                        <div class="form_group">
							<label>默认：</label>
							<input type="checkbox" name="default">
						</div>
						<input type="submit" value="提交" class="info_submit">
					</form>
				</div>
		</div>
	</div>



	<div class="footer">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>		
		</div>
		<p>CopyRight © 2016 北京天天生鲜信息技术有限公司 All Rights Reserved</p>
		<p>电话：010-****888    京ICP备*******8号</p>
	</div>
	
</body>

</html>